[[extend 'layout.html']]

<div class="section">
    <h1 class="title">
        Phone Number for [[=contact_rows[0]['first_name'] ]] [[=contact_rows[0]['last_name'] ]]
    </h1> 


    <table class="table is-striped is-fullwidth">
        <tr>
            <th>Phone</th>
            <th>Kind</th>
        </tr>
    </table>


    <a class="button has-background-success has-text-white" href="[[=URL('index')]]">
        <span class="icon">
            <i class="fa fa-fw fa-backward"></i>
        </span>
        <span>
            Back
        </span>
    </a>

    <a class="button has-background-primary has-text-white" href="[[=URL('add_phone')]]">
        <span class="icon">
            <i class="fa fa-fw fa-plus"></i>
        </span>
        <span>
            Add Phone Number
        </span>
    </a>
</div>