[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>


<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->


  <div class="columns">
    <div class="column">
      <!-- Feed.  -->
      <div class="field">
        <textarea class="textarea" placeholder="What's on your mind?" v-model="content" rows="2"></textarea>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link" @click="post_meow(content)">
            Publish!
          </button>
        </div>
      </div>


      <div class="box">
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item" aria-label="reply">
              <span class="icon is-small">
                <i class="fa fa-user"></i>
              </span>
              <span class="ml-2">Grizabella</span>
            </a>
          </div>
          <div class="level-right">
            <span class="level-item">
              One minute ago
            </span>
          </div>
        </nav>
        <div class="content">
          I love tuna fish. 
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item" aria-label="reply">
              <span class="icon is-small">
                <i class="fa fa-reply" aria-hidden="true"></i>
              </span>
              <span class="ml-1">4</span>
            </a>
            <a class="level-item" aria-label="retweet">
              <span class="icon is-small">
                <i class="fa fa-retweet" aria-hidden="true"></i>
              </span>
            </a>
          </div>
        </nav>
      </div>



     
      <!-- <div class="box">
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item" aria-label="reply">
              <span class="icon is-small">
                <i class="fa fa-user"></i>
              </span>
              <span class="ml-2">Grizabella</span>
            </a>
          </div>
          <div class="level-right">
            <span class="level-item">
              One minute ago
            </span>
          </div>
        </nav>
        <div class="content">
          I love tuna fish. 
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item" aria-label="reply">
              <span class="icon is-small">
                <i class="fa fa-reply" aria-hidden="true"></i>
              </span>
              <span class="ml-1">4</span>
            </a>
            <a class="level-item" aria-label="retweet">
              <span class="icon is-small">
                <i class="fa fa-retweet" aria-hidden="true"></i>
              </span>
            </a>
          </div>
        </nav>
      </div> -->
   
   





    </div>

    <div class="column is-one-third has-background-light">
      
      <div class="field">
        <p class="control has-icons-right">
          <input class="input" type="text" placeholder="Search users" v-model="query" @keyup="search">
          <span class="icon is-small is-right clickable" @click="clear_search">
            <i class="fa fa-times-circle"></i>
          </span>

        </p>
      <!-- </div> -->

      <template v-if="searching">
        <div v-for="r in results">
          <div v-if="r.username.startsWith(query)">
            <div class="field has-addons">

              <p class="control">
              <button class="button">
                <span>
                  {{r['username']}}

                  <template v-if="!is_following(r['id'])">
                    <button class="button is-success is-outlined" @click="set_follow(r['id'])">
                      <span class="icon is-small">
                        <i class="fa fa-check "></i>
                      </span>
                      <span>Follow</span>
                    </button>
                  </template>
                  <!-- <div v-else-if="is_following(r['id'])"> -->
                  <template v-else>
                    <button class="button is-danger is-outlined" @click="set_unfollow(r['id'])">
                      <span class="icon is-small">
                        <i class="fa fa-times "></i>
                      </span>
                      <span>Unfollow</span>
                    </button>
                  </template>



                </span>
              </button>
              </p>


            </div>
          </div>
        </div>
      </template>

      <!-- iteratre over user_names -->
      <template v-else-if="!searching">
        <div v-for="r in rows">

        <div class="field has-addons">
          <p class="control">
            <button class="button">
              <span>
                {{r['username']}}
              </span>
            </button>
          </p>
          <p class="control">
            <div v-if="!is_following(r['id'])">
              <button class="button is-success is-outlined" @click="set_follow(r['id'])">
                <span class="icon is-small">
                  <i class="fa fa-check "></i>
                </span>
                <span>Follow</span>
              </button>
            </div>
            <div v-else>
              <button class="button is-danger is-outlined" @click="set_unfollow(r['id'])">
                <span class="icon is-small">
                  <i class="fa fa-times "></i>
                </span>
                <span>Unfollow</span>
              </button>
            </div>
          </p>
        </div>
        </div>
      </template>

    </div>
  </div>
  </div>
</div>





[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let search_url = "[[=XML(search_url)]]";
  let get_users_url = "[[=XML(get_users_url)]]";
  let get_following_url = "[[=XML(get_following_url)]]";
  let set_follow_url = "[[=XML(set_follow_url)]]";
  let set_unfollow_url = "[[=XML(set_unfollow_url)]]";
  let post_meow_url = "[[=XML(post_meow_url)]]";
  let get_posts_url = "[[=XML(get_posts_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
